$white: white;
$yellow: #d8a36f;
/* ------------------------------------- */
/* * {
    outline: 1px solid tomato;
} */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-style: 16px;
    color: #000;
    font-family: "Montserrat";
}
/* ------------------------------------ */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1764px;
    padding: 0 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
._row {
    display: flex;
    align-items: center;
}
/* ------------------------------------ */
._fontSubheading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 181.25%;
    text-align: center;
    letter-spacing: 0.12em;
}
/* ------------------------------------ */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background: rgba(16, 24, 30, 0.4);
}
.header__container {
}

.header__row {
    min-height: 183px;
    justify-content: space-between;
}

/* ------------------------------------ */
.header__menuW {
}
.header__menu {
    display: flex;
    column-gap: 60px;
    flex-wrap: wrap;
}
.menu {
    padding: 5px 0;
}

@media (max-width: 992px) {
    .header__menu {
        column-gap: 40px;
    }
    .menu__link {
        line-height: 100%;
    }
}
@media (max-width: 767px) {
    .header__menu {
        column-gap: 20px;
    }
}
@media (max-width: 479px) {
    .header__menu {
        column-gap: 5px;
    }
}
.menu__item {
}
.menu__link {
    color: $white;
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 36px;
    }
}
/* -----------------------------------  */
.header__cart {
}
/* ----------------------------------- */
.header__formW {
}
.header__form {
}
.form__inputW {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 60px;
    z-index: 10;
}
.form__input {
    width: 351px;
    height: 55px;
    border: none;
    background: url("../img/magnifyingglass.circle.png") no-repeat 95% center;
    padding-left: 30px;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.14em;
    opacity: 1; /* Firefox */
}
/* --------------------------------- */
.block1 {
}
.block1__container {
}
.block1__row {
}
.block1TextW {
}
.block1Text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    letter-spacing: 0.16em;
    color: $white;
}
