/* ------------------------------------- */
/* * {
    outline: 1px solid tomato;
} */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  /*     max-width: 100%;
    height: auto; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-style: 16px;
  color: #000;
  font-family: "Montserrat";
}

/* ------------------------------------ */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1764px;
  padding: 0 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ------------------------------------ */
._fontSubheading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 181.25%;
  text-align: center;
  letter-spacing: 0.12em;
}

/* ------------------------------------ */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: rgba(16, 24, 30, 0.4);
}

.header__row {
  display: flex;
  align-items: center;
  min-height: 183px;
  justify-content: space-between;
}

/* ------------------------------------ */
.header__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -35px;
}

.menu {
  padding: 5px 5px;
}

@media (max-width: 992px) {
  .menu__link {
    line-height: 150%;
  }
}

.menu__item {
  padding: 0 35px;
}

.menu__link {
  color: white;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 20px;
  }
}

/* -----------------------------------  */
/* ----------------------------------- */
.header__formW {
  max-width: 351px;
  flex: 1 1 auto;
}

.form__inputW {
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 60px;
  z-index: 10;
}

.form__input {
  height: 55px;
  border: none;
  background: url("../img/magnifyingglass.circle.png") no-repeat 95% center;
  padding-left: 30px;
}

@media (max-width: 767px) {
  .form__input {
    width: 130px;
    padding-left: 10px;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.14em;
  opacity: 1;
  /* Firefox */
}

/* --------------------------------- */
.block1 {
  position: relative;
}

.block1__body {
  position: relative;
  max-width: 1015px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding: 331px 0px 575px 0px;
  z-index: 2;
}

.block1__Text {
  font-weight: 800;
  font-size: 48px;
  line-height: 122%;
  text-align: center;
  letter-spacing: 0.16em;
  color: white;
}

@media (max-width: 992px) {
  .block1__Text {
    font-size: 36px;
  }
}

@media (max-width: 479px) {
  .block1__Text {
    font-size: 24px;
  }
}

/* ------------------------------------- */
.block1__button {
  min-height: 96px;
  padding: 5px 5px;
  background: #d8a36f;
  border: 3px solid #ffffff;
  border-radius: 31px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.1em;
  color: white;
  text-shadow: 0 0 2px #672b18;
}

.block1__button:hover {
  background-color: #ddb083;
}

.block1__button:active {
  background-color: #d3965b;
}

/* mobile first */
/* @media (max-width:479px){
    .block1__button {
        flex: 1 1 100%;
    }
} */
/* ------------------------------------ */
.block1__imageW {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.block1__imageW img {
  object-position: right;
}

/* @media (max-width:992px){
    .block1__imageW {
        opacity: 0.5;
    }
} */
/* ABOUT------------------------------- */
.about__body {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 88px;
  margin: -292px 0px 0px 0px;
}

.about__pText {
  font-weight: 800;
  text-align: center;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.16em;
  color: white;
}

.about__cup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cup__logo {
  min-height: 429px;
  padding: 0px 5px 0px 60px;
}

@media (max-width: 1140px) {
  .cup__logo {
    min-height: 250px;
  }
}

@media (max-width: 767px) {
  .cup__logo {
    min-height: 130px;
  }
}

@media (max-width: 479px) {
  .cup__logo {
    min-height: 50px;
  }
}

.cup__rect {
  max-width: 1206px;
  background: #d8a36f;
  border-radius: 65px;
}

.cup__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.12em;
  color: white;
  padding: 61px 29px;
  text-align: left;
  text-shadow: 0 0 2px #672b18;
}

/* ---------------------------------- */
.products__body {
  margin: 392px 0px 0px 0px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__column {
  margin: 0px -5px 192px;
  flex: 0 1 33.333%;
}

.products__item {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0px 5px;
}

/* @media (max-width: 1620px) {
    .products__item {
        flex: 0 1 50%;
        margin: 0px 0px 100px 0px;
    }
}
@media (max-width: 1000px) {
    .products__item {
        flex: 0 1 100%;
        margin: 0px 0px 50px 0px;
    }
} */
.products__imageW {
  position: relative;
  padding: 0px 0px 100% 0px;
  overflow: hidden;
}

.products__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.products__textBlock {
  width: 100%;
  display: flex;
  padding: 33px 0px 0px;
  justify-content: space-between;
}

.products__text1,
.products__text2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.12em;
  text-shadow: 0 0 2px #672b18;
  color: white;
}

.products__buttonW {
  text-align: center;
}

.products__button {
  min-height: 82px;
  background: #d8a36f;
  border-radius: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.12em;
  color: white;
  padding: 27px 67px;
}

.products__button:hover {
  background-color: #ddb083;
}

.products__button:active {
  background-color: #d3965b;
}

/* ------------------------------------ */
.otzyvy__body {
  margin: 275px 0px 0px 0px;
}

.otzyvy__pText {
  font-weight: 800;
  text-align: center;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.16em;
  color: white;
}

.otzyvy__group {
  display: flex;
  justify-content: space-between;
  margin: 164px 0px 0px 0px;
}

@media (max-width: 1140px) {
  .otzyvy__group {
    margin: 60px 0px 0px 0px;
  }
}

.otzyvy__rows {
  flex: 0 1 auto;
  margin: -42px 0px;
}

.otzyvy__row {
  display: flex;
  align-items: center;
  padding: 42px 0px;
}

.otzyvy__rowImageW {
  flex: 0 1 auto;
}

.otzyvy__rowImage {
  margin: 0px 25px 0px 0px;
}

@media (max-width: 1140px) {
  .otzyvy__rowImage {
    max-width: 100px;
    margin: 0px 12px 0px 0px;
  }
}

.otzyvy__rowText {
  max-width: 860px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.14em;
  margin: 0px 0px 0px 25px;
  color: white;
}

@media (max-width: 1140px) {
  .otzyvy__rowText {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.14em;
    margin: 0px 0px 0px 12px;
  }
}

.otzyvy__stars {
  padding: 31px 0px 0px 5px;
}

@media (max-width: 1140px) {
  .otzyvy__stars {
    max-width: 150px;
  }
}

/* --------------------------------- */
.bottomW {
  position: relative;
  width: 100%;
  min-height: 2322px;
  margin-top: -2030px;
}

.bottom__imageW {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
/*# sourceMappingURL=styles.css.map */